{% extends 'base.html.twig' %}

{% block title %}

    {{'Registration'|trans }}
{% endblock %}

{% block body %}


    <section class="user-profile section">
        <div class="container">
            <div class="row">

                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">

                    <h2> {{ 'You have successfuly registered on the site!'|trans }}</h2>

                    </div>

                </div>

                <div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
                    <div class="sidebar">

                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}
